#Settings for MinIO

#enables it to be run in <2GB VPS
CI_CD=true 
#port to run MinIO console
MINIO_CONSOLE_ADDRESS="0.0.0.0:9001"
MINIO_ROOT_USER=YOUR_ROOT_USERNAME
MINIO_ROOT_PASSWORD=PLEASE_CHANGE_ME_TO_S0ME_SECURE_P4SSW0RD!